.about {
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  
    .about-collapse {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      padding: 20px 50px;
    }
  
    @media (max-width: 768px) {
      padding: 0 20px;
  
      .about-collapse {
        max-width: 100%;
        margin: 0;
        padding: 20px 0;
      }
    }
  }
  