.collapse {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  justify-content: center;

  .collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #FF6060;
    height: 52px;
    border: none;
    border-radius: 5px;
    .collapse-title {
      color: #ffffff;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 700;
      line-height: 25.67px;
      text-align: left;

    }
    .collapse-arrow {
      width: 20px;
      height: 20px;
      transition: transform 0.3s ease;
    }
  }

  .collapse-content {
    padding: 10px;
    display: none;
  }

  &.open .collapse-content {
    display: block;
  }

  &.open .collapse-arrow {
    transform: rotate(180deg);
  }
}
