.gallery {
    max-width: 100%;
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;

    &__image-container {
        max-width: 1400px;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 1400px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        cursor: pointer;
        z-index: 10;
        border: none;
        img {
            width: 46.68px; 
            height: 79.2px; 
        }

        &--prev {
            left: 10px;
        }

        &--next {
            right: 10px;
        }
    }

    &__slide-number {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        color: #ffffff;
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 24px;
        width: 24px;
        height: 32.4px;
        text-align: center;
        line-height: 32.4px;
    }

@media (max-width: 768px) {
    .gallery {
        margin: 0;
        padding: 0;
        height: 255px;
        &__image-container img {
            height: 255px;
            border-radius: 5px;
        }
        &__button {
            img {
                width: 24px;  
                height: 24px;
            }
        }

        &__slide-number {
            display: none;
        }
    }
}
}
