.header {
    max-width: 1400px;
    width: 100%;
    display: flex;              
    align-items: center;       
    justify-content: space-between;              
    background-color: #ffffff;
    margin: 0 auto; 

    
    .header-logo {
        height: 68px;
    }

    .header-nav {
        display: flex;
        gap: 30px; 
        
        .nav-link {
            color: #333;
            font-weight: bold;
            height: 34px;
            
            &[href="#a-propos"] {
                text-decoration: none; 
            }
        }
    }
}
