.home {
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;

  .home-content {
    max-width: 1400px;
    background-color: #f6f6f6;
    width: 100%;
    border-radius: 8px;
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    box-sizing: border-box;
    
  }
}

@media (max-width: 768px) {
  .home{
    .banner img {
      margin-right: 0;
      width: 100%;
    }
    max-width: 768px;
    .home-content {
      background-color: #ffffff; 
      grid-template-columns: 1fr; 
      padding: 0;
      
    } 
  }
}

  
  
