.home-content {
    background-color: #f6f6f6;
    width: 100%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  