.host-info {
    margin: 0;
    display: flex;
    align-items: center;
    .host-name {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 25.67px;
        text-align: right;
        color: #FF6060; 
        display: flex;
        flex-direction: column; 
    }
    .host-picture {
        margin-top: 0;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin-left: 10px;
    }

    @media (max-width: 768px) {
        .host-name {
           font-family: Montserrat;
           font-size: 12px;
           font-weight: 500;
           line-height: 17.11px;
           text-align: right;
        }
        .host-picture {
        width: 32px;
        height: 32px;
        }
    }
}
