body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

@import 'header'; 
@import 'banner';
@import 'card';
@import 'equipments-list';
@import 'footer';
@import 'gallery';
@import 'fiche-logement';
@import 'host-info';
@import 'logements-list';
@import 'rating';
@import 'tags-list';
