.rating-container {
    display: flex;
    align-items: center;
    .rating-container__stars { 
      margin-right: 4px;
      img {
        height: 24px;
        width: auto;
      }

  }
}

@media (max-width: 768px) {
  img {
    height: 13px;
    width: auto;
  }
}
  