.tag-list {
    display: flex;
    gap: 10px;
    width: 365px;
    list-style: none;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    .tag {
        padding: 5px 10px;
        background-color: #FF6060;
        color: #ffffff;
        border-radius: 10px;
        text-align: center;
        height: 25px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: 25px;
    } 
}


