.title-location {
    display: flexbox;
    flex-direction: column;
    height: 77px;
    .title {
        color: #FF6060;
        font-family: Montserrat;
        font-weight: 500;
        font-size: 36px;
        margin: 0;
        height: 51px;
    }
    .location {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 18px;
        margin: 0;
        height: 26px;
    }

    @media (max-width: 768px) {
        .title {
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            line-height: 25.67px;
            text-align: left;
        }
        .location {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
            line-height: 19.96px;
            text-align: left;
        }
    }
}