.header {
    display: flex;              
    align-items: center;       
    justify-content: space-between; 
    padding: 20px;             
    background-color: #ffffff; 
    margin-top: 50px; 
    margin-left: 50px;
    margin-right: 50px;
    
    .header-logo {
        height: 68px;
    }

    .header-nav {
        display: flex;
        gap: 30px; 
        
        .nav-link {
            color: #333;
            font-weight: bold;
            height: 34px;
            
            &[href="#a-propos"] {
                text-decoration: none; 
            }
        }
    }
}
