.banner {
  max-width: 1400px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 223px;
  position: relative;
  background-color: #ffffff;
  text-align: center;
  overflow: hidden;
  border-radius: 25px;
  margin: 0 auto;
}
.banner .banner-image {
  background-color: #ffffff;
  border-radius: 25px;
  width: 100%;
  height: 223px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
}
.banner .banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: 10px;
  max-width: 90%;
  margin: 0;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .banner {
    height: 111px;
  }
  .banner .banner-image {
    height: 111px;
  }
  .banner .banner-text {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    white-space: normal;
  }
}
.card-link {
  text-decoration: none;
}

.card {
  max-width: 340px;
  max-height: 340px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card .card__img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.card .card__title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
    max-height: auto;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }
  .card .card__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  .card .card__title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 10px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.67px;
    color: #ffffff;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  }
}
.collapse {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  justify-content: center;
}
.collapse .collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #FF6060;
  height: 52px;
  border: none;
  border-radius: 5px;
}
.collapse .collapse-header .collapse-title {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.67px;
  text-align: left;
}
.collapse .collapse-header .collapse-arrow {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}
.collapse .collapse-content {
  padding: 10px;
  display: none;
  font-size: 18px;
  line-height: 25.67px;
  text-align: left;
}
.collapse.open .collapse-content {
  display: block;
}
.collapse.open .collapse-arrow {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .collapse .collapse-header {
    height: 30px;
  }
  .collapse .collapse-header .collapse-title {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 700;
    line-height: 18.54px;
    text-align: left;
  }
  .collapse .collapse-header .collapse-arrow {
    width: 16px;
    height: 9.14px;
  }
  .collapse .collapse-content {
    font-size: 13px;
    line-height: 18.54px;
    text-align: left;
  }
}
.fiche-logement {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.fiche-logement .fiche-logement__content {
  flex: 1;
}
.fiche-logement .gallery {
  position: relative;
  margin: 0;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.fiche-logement .gallery .gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.fiche-logement .gallery .gallery__nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.fiche-logement .gallery .gallery__nav .gallery__button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #ffffff;
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.fiche-logement .gallery .gallery__nav .gallery__button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.fiche-logement .logement-info .infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fiche-logement .logement-info .infos .leftcolumn {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fiche-logement .logement-info .infos .rightcolumn {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fiche-logement .logement-info .collapse-logement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.fiche-logement .logement-info .collapse-logement .description {
  width: 582px;
}
.fiche-logement .logement-info .collapse-logement .equipments {
  width: 582px;
}
.fiche-logement .logement-info .collapse-logement .equipments ul {
  list-style: none;
}
@media (max-width: 768px) {
  .fiche-logement .gallery .gallery__img {
    border-radius: 5px;
  }
  .fiche-logement .logement-info {
    display: flex;
    flex-direction: column;
  }
  .fiche-logement .logement-info .infos {
    display: flex;
    flex-direction: column;
  }
  .fiche-logement .logement-info .infos .rightcolumn {
    margin: 0;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .fiche-logement .logement-info .collapse-logement {
    flex-direction: column;
  }
}

.footer {
  margin: 0 auto;
  max-width: 1400px;
  background-color: #000000;
  width: 100%;
  height: 209px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer .footer-logo img {
  filter: brightness(0) invert(1);
  height: 39.44px;
}
.footer .footer-text {
  color: #ffffff;
  font-size: 24px;
}

.header {
  max-width: 1400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 0 auto;
}
.header .header-logo {
  height: 68px;
}
.header .header-nav {
  display: flex;
  gap: 30px;
}
.header .header-nav .nav-link {
  color: #333;
  font-weight: bold;
  height: 34px;
}
.header .header-nav .nav-link[href="#a-propos"] {
  text-decoration: none;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: auto;
  }
  .header .header-logo {
    width: 145px;
    height: 46.88px;
  }
  .header .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
  }
  .header .header-nav .nav-link {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 17.11px;
    text-align: right;
    color: #000000;
    margin-left: 15px;
  }
  .header .header-nav .nav-link:hover {
    text-decoration: underline;
  }
}
.home {
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.home .home-content {
  max-width: 1400px;
  background-color: #f6f6f6;
  width: 100%;
  border-radius: 8px;
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .home {
    max-width: 768px;
  }
  .home .home-content {
    background-color: #ffffff;
    grid-template-columns: 1fr;
    padding: 0;
  }
}
.gallery {
  max-width: 100%;
  position: relative;
  width: auto;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.gallery__image-container {
  max-width: 1400px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery__image-container img {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  cursor: pointer;
  z-index: 10;
  border: none;
}
.gallery__button img {
  width: 46.68px;
  height: 79.2px;
}
.gallery__button--prev {
  left: 10px;
}
.gallery__button--next {
  right: 10px;
}
.gallery__slide-number {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 24px;
  width: 24px;
  height: 32.4px;
  text-align: center;
  line-height: 32.4px;
}
@media (max-width: 768px) {
  .gallery .gallery__image-container img {
    height: 255px;
    border-radius: 5px;
  }
  .gallery .gallery__button img {
    width: 24px;
    height: 24px;
  }
  .gallery .gallery__slide-number {
    display: none;
  }
}

.host-info {
  margin: 0;
  display: flex;
  align-items: center;
}
.host-info .host-name {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: right;
  color: #FF6060;
  display: flex;
  flex-direction: column;
}
.host-info .host-picture {
  margin-top: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-left: 10px;
}
@media (max-width: 768px) {
  .host-info .host-name {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 17.11px;
    text-align: right;
  }
  .host-info .host-picture {
    width: 32px;
    height: 32px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.rating-container {
  display: flex;
  align-items: center;
}
.rating-container .rating-container__stars {
  margin-right: 4px;
}
.rating-container .rating-container__stars img {
  height: 24px;
  width: auto;
}

@media (max-width: 768px) {
  img {
    height: 13px;
    width: auto;
  }
}
.tag-list {
  display: flex;
  gap: 10px;
  width: 365px;
  list-style: none;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}
.tag-list .tag {
  padding: 5px 10px;
  background-color: #FF6060;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
  height: 25px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
}
@media (max-width: 768px) {
  .tag-list .tag {
    height: 18px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
  }
}

.about {
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .about-collapse {
  max-width: 1023px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 100px;
}

@media (max-width: 768px) {
  .about {
    padding: 0 20px;
  }
  .about .about-collapse {
    max-width: 100%;
    margin: 0;
  }
}
.title-location {
  display: flexbox;
  flex-direction: column;
  height: 77px;
}
.title-location .title {
  color: #FF6060;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 36px;
  margin: 0;
  height: 51px;
}
.title-location .location {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  height: 26px;
}
@media (max-width: 768px) {
  .title-location .title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: left;
  }
  .title-location .location {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.96px;
    text-align: left;
  }
}

.error-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}
.error-page .error-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  justify-content: center;
  align-items: center;
  height: 70%;
  margin-top: 0;
  margin-bottom: 0;
}
.error-page .error-content .error-status {
  display: flex;
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 288px;
  font-weight: 700;
  line-height: 410.69px;
  text-align: center;
  color: #FF6060;
  margin-bottom: 20px;
  height: 300px;
  align-items: center;
}
.error-page .error-content .error-message {
  font-family: Montserrat, sans-serif;
  font-size: 1.5em;
  color: #FF6060;
  margin: 20px 0 50px 0;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
  text-align: left;
}
.error-page .error-content .error-home-link {
  margin-bottom: 50px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: left;
  color: #000000;
}
.error-page .error-content .error-home-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .error-page {
    padding: 0 20px;
  }
  .error-page .error-content {
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .error-page .error-content .error-status {
    font-size: 96px;
    line-height: 136.9px;
    height: auto;
    margin-bottom: 20px;
  }
  .error-page .error-content .error-message {
    font-size: 18px;
    line-height: 25.67px;
    text-align: center;
    margin: 10px 0 30px 0;
  }
  .error-page .error-content .error-home-link {
    font-size: 14px;
    line-height: 19.96px;
    text-align: left;
  }
}/*# sourceMappingURL=main.css.map */